$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.fullscreen {
  width: 100%;
}

.carousel-esquerda {
  background-image: url('../images/esquerda.png');
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 33px;
  height: 106px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-direita {
  background-image: url('../images/direita.png');
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 33px;
  height: 107px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}